.photo-grid__item{
  max-width: 284px;
}

@media screen and (max-width: 1184px) {
  .photo-grid__item{
    max-width: 300px;
  }
}

@media screen and (max-width: 950px) {
  .photo-grid__item{
    max-width: 352px;
  }
}

@media screen and (max-width: 3768px) {
  .photo-grid__item{
    max-width: 288px;
  }
}