.lead__image{
  margin: 0 auto;
  max-width: 984px;
  align-self: center;
  overflow-x: hidden;
}

@media screen and (max-width: 1184px) {
  .lead__image{
    max-width: 928px;
    width: 100%;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 950px) {
  .lead__image{
    max-width: 768px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 767px) {
  .lead__image{
    max-width: 320px;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
  }
}