.cover__overlay {
  background-color: rgba(42, 44, 47, 30%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 740px;
  z-index: 1;
  margin: 0 auto;
}

.cover__overlay:hover{
  background-color: rgba(42, 44, 47, 0.8);
  transition-property: background-color;
  transition-duration: 0.4s;
}

@media screen and (max-width: 1184px) {
  .cover__overlay{
    min-height: 640px;
  }
}

@media screen and (max-width: 950px) {
  .cover__overlay{
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay{
    min-height: 200px;
  }
}