.cover__background{
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  min-width: 1184px;
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

.cover__background:before {
  background-color: rgba(42, 44, 47, 30%);
  content: "";
  position: absolute;
  width: 1184px;
  min-height: 740px;
  z-index: 1;
}

.cover__background:hover:before{
  background-color: rgba(42, 44, 47, 0.8);
  transition-property: background-color;
  transition-duration: 0.4s;
  overflow: hidden;
}

@media screen and (max-width: 1184px) {
  .cover__background{
    min-width: 1024px;
    width: 100%;
    min-height: 640px;
    overflow: hidden;
  }
}

@media screen and (max-width: 950px) {
  .cover__background{
    min-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background{
    min-width: 320px;
    min-height: 200px;
  }
}

@media screen and (max-width: 1184px) {
  .cover__background:before{
    min-width: 1024px;
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 950px) {
  .cover__background:before{
    min-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background:before{
    min-width: 320px;
    min-height: 200px;
    overflow-x: hidden;
  }
}