.footer{
  margin: 0;
  margin-top: 92px;
  margin-bottom: 24px;
  max-width: 1184px;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

@media screen and (max-width: 1184px) {
  .footer{
    max-width: 928px;
  }
}

@media screen and (max-width: 950px) {
  .footer{
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .footer{
    max-width: 186px;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 64px;
    margin-left: 16px;
  }
}